{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }} <!--super() function tells Jinja not to override any code that is defined in the block-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}


{% block content %}
 
    <!-- <div class="row">
        <img src="/static/images/blog.jpg" style= "margin-right: 100%;padding-right: 100%;">
    </div> -->
    <br>
    <div class="container-fluid" style="font-family: 'Russo One', sans-serif;">
    <div class="row"> 
        
        <div class="container">
            <div class="content">
                <div class="title-area">

                    <h1 class="title-modern" style="font-size:10vh;color:rgb(11, 12, 12); text-align: center;padding: 40px">Just Blog It</h1>
                        
                    <h3 style="font-size:6vh;color:rgb(10, 10, 10);opacity:0.5; text-align: center;padding: 40px">Published Posts</h2>
                    {% for post in post %}

                    <li style="list-style-type:none;font-size:2em">{{post.title}}</li>
                    <p><a href="/posts/{{post.id}}" style="color:rgb(8, 8, 8);">Countinue...</a></p>
                    {% endfor%}

                    <hr>

                </div>
            </div>
        </div>
    </div>
          
{% endblock %}